.app {
  text-align: center;
  height: 100vh;
}

/*********Dog*****/



.dog-container, .download {
  margin-top: 40px;
}
.breed {
  text-transform: uppercase;
}
.button-refetch {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.dog-image {
  width: 500px;
}
.subbreed{

}